# Node modules
node_modules/

# Docker files
*.log
*.env
docker-compose.override.yml

# Docker build output
.docker/
docker/
*.tgz

# Logs
*.log
logs/

# Operating system files
.DS_Store
Thumbs.db

# IDE/Editor settings
.vscode/
.idea/

# Build output
dist/
build/
coverage/

# Kubernetes related files
.kube/
